<section class="inn-check">
  <h1 class="inn-check__header">Проверка ИНН <br> для юридических и физических лиц</h1>
  <%= form_tag Routes.history_path(@conn, :index), method: "post", class: "inn-check__form" do %>
    <div class="input-group">
      <label for="inn-validate">Введите ИНН</label>
      <input type="text" id="inn-validate" class="inn-check__validate-input" name="inn" value="<%= @input %>">
      <span class="inn-check__error"><%= @error %></span>
    </div>
    <input type="submit" value="Отправить">
  <% end %>

  <%= if @checks_history do %>
    <ul class="inn-check__list">
      <%= for check <- @checks_history do %>
        <li class="inn-check__list-item">
          <span class="inn-check__date"><%= check.inserted_at %></span>
          <div class="inn-group">
            <span class="inn-check__number">&nbsp;<%= check.inn %> : </span>
            <%= if check.valid do %>
              <span class="inn-valid">корректен</span>
          <% else %>
              <span class="inn-invalid">некорректен</span>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>  
  <% end %>
</section>
