@import "./phoenix.css";

.inn-check {
  width: 760px;
  margin: 0 auto;
}

.inn-check__form {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1.5rem;
}

.inn-check__form input[type="submit"] {
  margin-bottom: 25px;
}

.inn-check__header {
  text-align: center;
  margin: 2rem 0 5rem;
}

.inn-check__form .input-group {
  width: 70%;
  margin-right: 1rem;
}

.inn-check__error {
  color: rgb(226, 53, 53);
  height: 25px;
  display: block;
}

.inn-check__list {
  max-height: 70vh;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 70%;
}

.inn-check__validate-input {
  margin-bottom: 0;
}

.inn-check__list-item {
  display: flex;
}

.inn-check__date {
  color: #999;
}

.inn-valid {
  color: green;
}

.inn-invalid {
  color: #e62929;
}
